#build tools
.jenkins.yml
.nyc_output
.travis.yml

#documentation
docs

#editor settings
.idea
.project
.settings
.tern-project

#linters
.eslintrc*

#logging
.log

#modules and repositories
.DS_Store
.git
node_modules
tools

#tests
.nycrc
.travis*
coverage
test
